<br>
<div class="logo">
  <img src="/static/logo.jpg"></img>
</div>
<br>
  <fieldset>
    <p style="font-size:24px">Invalid Credentials</p>
    <p><em>Please return to home page or try again.</em></p>
    <hr>
    <a href="/user_login" style="align:center">Return to homepage.</a><br>
    <a href="/forgot" style="align:center">Reset password.</a>
  </fieldset>
