<div class="logo">
    <img src="images/logo.jpg">
</div>
<br>
  <form id="userLogin" action="/user_account" method="post">
  <fieldset>
    <p style="font-size:24px">Welcome!</p>
    <p><em>Sign in to continue to vote.gov.</em></p>
    <hr>
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="username"><br>
    <br>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" placeholder="password"><br>
    <br>
    <label for="Submit"></label>
    <input class="submit-button" type="submit" value="Sign In">
    <hr>
    <p style="font-size:14px">Forgot your password?</p>
    <p style="font-size:14px">Create an account.</p>
  </fieldset>
</form>