<br>
<div class="logo">
  <img src="/static/logo.jpg"></img>
</div>
<br>
<form id="userLogin" action="/" method="post">
  <fieldset>
    <p style="font-size:24px">Welcome!</p>
    <p><em>Sign in to continue to vote.gov.</em></p>
    <hr>
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="username" required><br>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password" required><br>
    <br>
    <label for="Submit"></label>
    <input class="submit-button" type="submit" name="Sign In" value="Sign In">
    <hr>
    <a href="/forgot">Forgot your password?</a><br>
    <a href="/register">Create an account.</a>
  </fieldset>
</form>
