<div class="toplinks">
  <a class="active" href="/lobby">Home</a>
  <a class="links" href="/logout">Logout</a>
  <a class="links" href="/userBudget">Budgets</a>
  <a class="links" href="/userIssues">Vote</a>
</div>
<br>
<br>
<br>
<div class="skinny_logo">
  <img src="/static/skinny_logo.jpg"></img>
</div>
<br>
<br>

<div class="vote">
  <p style="font-size:24px">Coming Soon!</p>
</div
